astropy==7.2
connectorx==0.4.5
cudf-polars-cu13==26.2.1
deepspeed==0.18.6
fvcore==0.1.5.post20221221
hydra-core==1.3.2
ipdb==0.13.13
nvitop==1.6.2
omegaconf==2.3.0
py-libnuma==1.2
pyarrow==22.0.0
pytest-order==1.3.0
pytest-testmon==2.2.0
pytest>=9.0.2  # needed because old pytest is installed in the base image
pytorchvideo==0.1.5
ray[all]==2.54.0
scikit-image==0.26.0
scipy==1.16.3  #todo remove when scipy.spatial is fixed in latest version
seaborn==0.13.2
supabase==2.28.0
tensorstore==0.1.81
tifffile==2026.3.3
timm==1.0.25
torchinfo==1.8.0
torchmetrics==1.8.2
torchtitan==0.2.0
transformers==5.2.0
trino==0.336.0
ujson==5.11.0
wandb==0.25.0
zarr==3.1.5  # needed because of old zarr is installed in the base image


# requiremetns for nvcr.io/nvidia/pytorch:26.01-py3
# The following requirements are pinned for the NVIDIA base container these will need to be updated when the base container is updated

## pip list --format=freeze

# absl-py==2.3.1
# aiohappyeyeballs==2.6.1
# aiohttp==3.13.3
# aiohttp-cors==0.8.1
# aiosignal==1.4.0
# amqp==5.3.1
# annotated-doc==0.0.4
# annotated-types==0.7.0
# antlr4-python3-runtime==4.9.3
# anyio==4.12.1
# apex==0.1
# argon2-cffi==25.1.0
# argon2-cffi-bindings==25.1.0
# arrow==1.4.0
# astropy==7.2.0
# astropy-iers-data==0.2026.3.2.0.47.4
# asttokens==3.0.1
# astunparse==1.6.3
# async-lru==2.0.5
# attrs==25.4.0
# audioread==3.1.0
# av==16.1.0
# babel==2.17.0
# beautifulsoup4==4.14.3
# billiard==4.2.4
# black==25.12.0
# bleach==6.3.0
# bpytop==1.0.68
# build==1.4.0
# cachetools==6.2.6
# celery==5.6.2
# cell-observatory-platform==0.1.0
# certifi==2026.1.4
# cffi==2.0.0
# charset-normalizer==3.4.4
# click==8.2.1
# click-didyoumean==0.3.1
# click-plugins==1.1.1.2
# click-repl==0.3.0
# cloudpickle==3.1.2
# cmake==3.31.6
# colorful==0.5.8
# comm==0.2.3
# connectorx==0.4.5
# contourpy==1.3.3
# coverage==7.13.4
# cryptography==46.0.5
# cuda-bindings==13.1.1
# cuda-pathfinder==1.4.0
# cuda-python==13.1.1
# cudf-polars-cu13==26.2.1
# cupy-cuda13x==14.0.1
# cycler==0.12.1
# Cython==3.2.4
# datasets==4.4.2
# debugpy==1.8.19
# decorator==5.2.1
# deepspeed==0.18.6
# defusedxml==0.7.1
# deprecation==2.1.0
# dill==0.4.0
# distlib==0.4.0
# dllist==2.0.0
# dm-tree==0.1.9
# docstring_parser==0.17.0
# donfig==0.8.1.post1
# einops==0.8.1
# execnet==2.1.2
# executing==2.2.1
# expecttest==0.3.0
# Farama-Notifications==0.0.4
# fastapi==0.135.1
# fastjsonschema==2.21.2
# filelock==3.25.0
# flash_attn==2.7.4.post1+nv26.1.42222806
# fonttools==4.61.1
# fqdn==1.5.1
# frozenlist==1.8.0
# fsspec==2025.10.0
# fvcore==0.1.5.post20221221
# gast==0.6.0
# gitdb==4.0.12
# GitPython==3.1.46
# google-api-core==2.30.0
# google-auth==2.48.0
# google-crc32c==1.8.0
# googleapis-common-protos==1.72.0
# grpcio==1.76.0
# gymnasium==1.2.2
# h11==0.16.0
# h2==4.3.0
# hf-xet==1.2.0
# hjson==3.1.0
# hpack==4.1.0
# httpcore==1.0.9
# httptools==0.7.1
# httpx==0.28.1
# huggingface_hub==1.3.1
# hydra-core==1.3.2
# hyperframe==6.1.0
# hypothesis==6.130.8
# idna==3.11
# ImageIO==2.37.2
# importlib_metadata==8.7.1
# iniconfig==2.3.0
# intel-openmp==2021.4.0
# iopath==0.1.10
# ipdb==0.13.13
# ipykernel==7.1.0
# ipython==9.9.0
# ipython_pygments_lexers==1.1.1
# isoduration==20.11.0
# isort==7.0.0
# jedi==0.19.2
# Jinja2==3.1.6
# joblib==1.5.3
# json5==0.13.0
# jsonpointer==3.0.0
# jsonschema==4.26.0
# jsonschema-specifications==2025.9.1
# jupyter_client==8.8.0
# jupyter_core==5.9.1
# jupyter-events==0.12.0
# jupyter-lsp==2.3.0
# jupyter_server==2.17.0
# jupyter_server_terminals==0.5.3
# jupyterlab==4.5.1
# jupyterlab_code_formatter==3.0.2
# jupyterlab_pygments==0.3.0
# jupyterlab_server==2.28.0
# jupyterlab_tensorboard_pro==4.0.0
# jupytext==1.18.1
# kiwisolver==1.4.9
# kombu==5.6.2
# lark==1.3.1
# lazy_loader==0.4
# libcudf-cu13==26.2.1
# libkvikio-cu13==26.2.0
# librmm-cu13==26.2.0
# librosa==0.11.0
# lightning-thunder==0.2.7.dev0
# lightning-utilities==0.15.2
# linkify-it-py==2.1.0
# lintrunner==0.12.11
# llvmlite==0.46.0
# looseversion==1.3.0
# lz4==4.4.5
# makefun==1.16.0
# Markdown==3.10
# markdown-it-py==4.0.0
# MarkupSafe==3.0.3
# matplotlib==3.10.8
# matplotlib-inline==0.2.1
# mdit-py-plugins==0.5.0
# mdurl==0.1.2
# memray==1.19.1
# mistune==3.2.0
# mkl==2021.1.1
# mkl-devel==2021.1.1
# mkl-include==2021.1.1
# ml_dtypes==0.5.4
# mmh3==5.2.0
# mock==5.2.0
# mpmath==1.3.0
# msgpack==1.1.2
# multidict==6.7.0
# multiprocess==0.70.18
# mypy_extensions==1.1.0
# nbclient==0.10.4
# nbconvert==7.16.6
# nbformat==5.10.4
# nest-asyncio==1.6.0
# networkx==3.6.1
# ninja==1.13.0
# notebook==7.5.1
# notebook_shim==0.2.4
# numba==0.63.1
# numcodecs==0.16.5
# numpy==2.1.0
# nv-one-logger-core==2.3.1
# nv-one-logger-training-telemetry==2.3.1
# nvfuser==0.2.34+git5d8efce
# nvidia-cuda-runtime-cu13==0.0.0a0
# nvidia-cudnn-frontend==1.17.0
# nvidia-dali-cuda130==1.53.0
# nvidia-libnvcomp-cu13==5.1.0.21
# nvidia-ml-py==13.590.44
# nvidia-modelopt==0.40.0
# nvidia-nvimgcodec-cu13==0.7.0.49
# nvidia-nvjpeg==13.0.2.28
# nvidia-nvjpeg2k-cu13==0.9.1.47
# nvidia-nvtiff-cu13==0.6.0.78
# nvidia-resiliency-ext==0.5.0
# nvitop==1.6.2
# nvtx==0.2.14
# omegaconf==2.3.0
# onnx==1.18.0
# onnx-ir==0.1.14
# onnxscript==0.5.7
# opencensus==0.11.4
# opencensus-context==0.1.3
# opentelemetry-api==1.39.1
# opentelemetry-exporter-prometheus==0.60b1
# opentelemetry-proto==1.39.1
# opentelemetry-sdk==1.39.1
# opentelemetry-semantic-conventions==0.60b1
# ops3d==0.1.0
# opt_einsum==3.4.0
# optree==0.18.0
# orjson==3.11.7
# ormsgpack==1.12.2
# overrides==7.7.0
# packaging==25.0
# pandas==2.3.3
# pandocfilters==1.5.1
# parameterized==0.9.0
# parso==0.8.5
# pathspec==1.0.3
# pexpect==4.9.0
# pillow==12.1.0
# pip==25.3
# platformdirs==4.5.1
# pluggy==1.6.0
# polars==1.35.2
# polars-runtime-32==1.35.2
# polygraphy==0.49.26
# pooch==1.8.2
# portalocker==3.2.0
# postgrest==2.28.0
# prometheus_client==0.23.1
# prompt_toolkit==3.0.52
# propcache==0.4.1
# proto-plus==1.27.1
# protobuf==6.33.4
# psutil==7.2.1
# ptyprocess==0.7.0
# PuLP==3.3.0
# pure_eval==0.2.3
# py-cpuinfo==9.0.0
# py-libnuma==1.2
# py-spy==0.4.1
# pyarrow==22.0.0
# pyasn1==0.6.2
# pyasn1_modules==0.4.2
# pybind11==3.0.1
# pybind11-global==3.0.1
# pycocotools==2.0+nv0.8.1
# pycparser==2.23
# pydantic==2.12.5
# pydantic_core==2.41.5
# pyerfa==2.0.1.5
# Pygments==2.19.2
# pyiceberg==0.11.1
# PyJWT==2.11.0
# pylibcudf-cu13==26.2.1
# pyOpenSSL==25.3.0
# pyparsing==3.3.1
# pyproject_hooks==1.2.0
# pyroaring==1.0.3
# pytest==9.0.2
# pytest-flakefinder==1.1.0
# pytest-order==1.3.0
# pytest-rerunfailures==16.1
# pytest-shard==0.1.2
# pytest-testmon==2.2.0
# pytest-xdist==3.8.0
# python-dateutil==2.9.0.post0
# python-discovery==1.1.0
# python-dotenv==1.2.2
# python_hostlist==2.3.0
# python-json-logger==4.0.0
# pytokens==0.3.0
# pytorch-triton==3.6.0+git5261b273.nv26.1
# pytorchvideo==0.1.5
# pytz==2025.2
# PyYAML==6.0.3
# pyzmq==27.1.0
# rapids-logger==0.2.3
# ray==2.54.0
# realtime==2.28.0
# referencing==0.37.0
# regex==2025.11.3
# requests==2.32.5
# rfc3339-validator==0.1.4
# rfc3986-validator==0.1.1
# rfc3987-syntax==1.1.0
# rich==14.2.0
# rmm-cu13==26.2.0
# rpds-py==0.30.0
# rsa==4.9.1
# safetensors==0.7.0
# scikit-image==0.26.0
# scikit-learn==1.8.0
# scipy==1.16.3
# seaborn==0.13.2
# Send2Trash==2.0.0
# sentry-sdk==2.54.0
# setuptools==80.10.1
# shellingham==1.5.4
# six==1.16.0
# smart_open==7.5.1
# smmap==5.0.2
# sortedcontainers==2.4.0
# soundfile==0.13.1
# soupsieve==2.8.1
# soxr==1.0.0
# spin==0.15
# stack-data==0.6.3
# starlette==0.52.1
# storage3==2.28.0
# StrEnum==0.4.15
# strictyaml==1.7.3
# supabase==2.28.0
# supabase-auth==2.28.0
# supabase-functions==2.28.0
# sympy==1.14.0
# tabulate==0.9.0
# tbb==2021.13.1
# tenacity==9.1.4
# tensorboard==2.20.0
# tensorboard-data-server==0.7.2
# tensorboardX==2.6.4
# tensorrt==10.14.1.48
# tensorstore==0.1.81
# termcolor==3.3.0
# terminado==0.18.1
# textual==8.0.2
# threadpoolctl==3.6.0
# tifffile==2026.3.3
# timm==1.0.25
# tinycss2==1.4.0
# tokenizers==0.22.2
# toml==0.10.2
# tomli==2.3.0
# torch==2.10.0a0+a36e1d39eb.nv26.1.42222806
# torch_tensorrt==2.10.0a0
# torchao==0.15.0+git1272f3cf
# torchdata==0.11.0
# torchinfo==1.8.0
# torchmetrics==1.8.2
# torchprofile==0.0.4
# torchtitan==0.2.0+gite98ae995
# torchvision==0.25.0a0+6b56de1c.nv26.1.42222806
# tornado==6.5.4
# tqdm==4.67.1
# traitlets==5.14.3
# transformer_engine==2.11.0+c188b533
# transformers==5.2.0
# trino==0.336.0
# triton_kernels==1.0.0+git5261b273.nv26.1
# typeguard==4.4.4
# typer-slim==0.21.1
# typing_extensions==4.15.0
# typing-inspection==0.4.2
# tyro==1.0.3
# tzdata==2025.3
# tzlocal==5.3.1
# uc-micro-py==2.0.0
# ujson==5.11.0
# uri-template==1.3.0
# urllib3==2.6.3
# uv==0.9.24
# uvicorn==0.41.0
# uvloop==0.22.1
# vine==5.1.0
# virtualenv==21.1.0
# wandb==0.25.0
# watchfiles==1.1.1
# wcwidth==0.2.14
# webcolors==25.10.0
# webencodings==0.5.1
# websocket-client==1.9.0
# websockets==15.0.1
# Werkzeug==3.1.5
# wheel==0.45.1
# wrapt==2.0.1
# xdoctest==1.0.2
# xxhash==3.6.0
# yacs==0.1.8
# yarl==1.22.0
# zarr==3.1.5
# zipp==3.23.0
# zstandard==0.25.0